1

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

5! = 5 × 4 × 3 × 2 × 1 = 120

In [2]:
a = input('Factorial of: ')[:-1:]
k = 1
for i in range(int(a), 0, -1):
    k*=i # k = k * i
print(k)

Factorial of: 5!
120

2

Write a program to calculate the sum of series up to n term. For example, if n = 5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [1]:
a = int(input())
k = 0
for i in range(1, a+1):
    k+=int('2'*i)
print(k)

5
24690